body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
h2{
    text-align:center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
#indexfooter {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.container {
    text-align: center; 
}

.image {
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#teamimage {
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#indeximg {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d5c1cdefb7b6c0001b75b60/1686769183640-XI3DI44DX1E67VO7DL4K/Testimonials+slider2.jpg?format=2500w");
}